/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.content {
  margin: 5rem 0;
}
.content .content__dashboard {
  background-color: hsl(235, 46%, 20%);
  border-radius: 1rem;
}
.content .content__dashboard .dashboard__user {
  background-color: hsl(246, 80%, 60%);
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1.5rem;
}
.content .content__dashboard .dashboard__user .user__icon {
  border: 3px solid hsl(300, 100%, 99%);
  border-radius: 50%;
  max-width: 4.375rem;
  width: 100%;
  overflow: hidden;
}
.content .content__dashboard .dashboard__user .user__info .user__report {
  color: hsl(236, 100%, 87%);
  font-size: 1rem;
  font-weight: 300;
}
.content .content__dashboard .dashboard__user .user__info .user__name {
  color: hsl(300, 100%, 99%);
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0.5rem;
}
.content .content__dashboard .dashboard__period {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.75rem 1.5rem;
}
.content .content__dashboard .dashboard__period .period {
  color: hsl(235, 45%, 61%);
  font-size: 1.125rem;
  font-weight: 400;
  text-decoration: none;
}
.content .content__dashboard .dashboard__period .period:hover {
  color: hsl(300, 100%, 99%);
  font-size: "";
  font-weight: "";
}
.content .content__dashboard .dashboard__period .active {
  color: hsl(300, 100%, 99%);
  font-size: "";
  font-weight: "";
}

@media screen and (min-width: 992px) {
  .content {
    margin: 5rem 0;
  }
}
@media screen and (min-width: 1200px) {
  .content {
    margin: 0rem;
    max-width: 1204.8px;
  }
  .content .content__dashboard {
    display: grid;
    grid-template-rows: 1fr;
  }
  .content .content__dashboard .dashboard__user {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    padding: 2rem;
  }
  .content .content__dashboard .dashboard__user .user__icon {
    max-width: 5.25rem;
  }
  .content .content__dashboard .dashboard__user .user__info .user__name {
    color: hsl(300, 100%, 99%);
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 0.75rem;
  }
  .content .content__dashboard .dashboard__period {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 2rem;
  }
}
.content__cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
}
.content__cards .card {
  background-repeat: no-repeat;
  border-radius: 1rem;
  padding-top: 2.5rem;
}
.content__cards .card .card__container {
  box-sizing: border-box;
  background-color: hsl(235, 46%, 20%);
  border-radius: 1rem;
  padding: 1.75rem 1.5rem;
  cursor: pointer;
}
.content__cards .card .card__container:hover {
  background-color: hsl(236, 41%, 34%);
}
.content__cards .card .card__container.hovered {
  background-color: hsl(235, 46%, 20%);
}
.content__cards .card .card__container .card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__cards .card .card__container .card__header .card__activity {
  color: hsl(300, 100%, 99%);
  font-size: 1.125rem;
  font-weight: 500;
}
.content__cards .card .card__container .card__header .card__btn {
  border: none;
  background: none;
  background-image: url(../../img/icon-ellipsis.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.3125rem;
  height: 0.3125rem;
  cursor: pointer;
}
.content__cards .card .card__container .card__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.125rem;
}
.content__cards .card .card__container .card__body .card__hours {
  color: hsl(300, 100%, 99%);
  font-size: 2rem;
  font-weight: 300;
}
.content__cards .card .card__container .card__body .card__active-period {
  color: hsl(236, 100%, 87%);
  font-size: 0.9375rem;
  font-weight: 400;
}
.content__cards .work {
  background-color: hsl(15, 100%, 70%);
  background-image: url(../../img/icon-work.svg);
  background-position: 93% -13%;
}
.content__cards .play {
  background-color: hsl(195, 74%, 62%);
  background-image: url(../../img/icon-play.svg);
  background-position: 93% -5%;
}
.content__cards .study {
  background-color: hsl(348, 100%, 68%);
  background-image: url(../../img/icon-study.svg);
  background-position: 93% -13%;
}
.content__cards .exercise {
  background-color: hsl(145, 58%, 55%);
  background-image: url(../../img/icon-exercise.svg);
  background-position: 93% -1%;
}
.content__cards .social {
  background-color: hsl(264, 64%, 52%);
  background-image: url(../../img/icon-social.svg);
  background-position: 93% -25%;
}
.content__cards .self-care {
  background-color: hsl(43, 84%, 65%);
  background-image: url(../../img/icon-self-care.svg);
  background-position: 93% -11%;
}

@media screen and (min-width: 768px) {
  .content__cards {
    margin-top: 0rem;
    margin-bottom: 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.875rem;
  }
}
@media screen and (min-width: 992px) {
  .content__cards {
    margin-top: 0rem;
    margin-bottom: 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .content__cards .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .content__cards .card .card__container {
    padding: 2rem;
  }
  .content__cards .card .card__container .card__body {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    margin-top: 2.5rem;
  }
  .content__cards .card .card__container .card__body .card__hours {
    color: hsl(300, 100%, 99%);
    font-size: 3.5rem;
    font-weight: 400;
  }
  .content__cards .work {
    background-position: 93% -6%;
  }
  .content__cards .play {
    background-position: 93% -2%;
  }
  .content__cards .study {
    background-position: 93% -4%;
  }
  .content__cards .exercise {
    background-position: 93% -1%;
  }
  .content__cards .social {
    background-position: 93% -8%;
  }
  .content__cards .self-care {
    background-position: 93% -5%;
  }
}
body {
  background: hsl(226, 43%, 10%);
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: hsl(236, 100%, 87%);
  font-size: 1.125rem;
  font-weight: 300;
  padding: 0 1rem;
}

@media screen and (min-width: 375px) {
  body {
    padding: 0 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  body {
    padding: 0 2.25rem;
  }
  body .content {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    min-height: 100vh;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  body .content {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}/*# sourceMappingURL=base.css.map */