@import './reset';
@import './variaveis';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import '../2-componentes/1-dashboard.scss';
@import '../2-componentes/2-cards.scss';

body {
    background: $very-dark-blue;
    box-sizing: border-box;
    font-family: $rubik;
    @include font-styling($pale-Blue, 1.125rem, 300);

    padding: 0 1rem;
}

@media screen and (min-width: 375px) {
    body {
        padding: 0 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    body {
        padding: 0 2.25rem;
    }
}

@media screen and (min-width: 992px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0;

        .content {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
    }

}

@media screen and (min-width: 1200px) {
    body {
        width: 80%;
        height: 100vh;
        margin: 0 auto;
        
        .content {
            display: grid;
            grid-template-columns: 3fr 9fr;
            grid-template-areas: 
            'dashboard cards cards cards'
            'dashboard cards cards cards';
        }
    }

}

@media screen and (min-width: 1400px) {
    body {
        .content {
            grid-template-columns: 3fr 9fr;
        }
    }

}