@import './reset';
@import './variaveis';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import '../2-componentes/1-dashboard.scss';
@import '../2-componentes/2-cards.scss';

body {
    background: $very-dark-blue;
    box-sizing: border-box;
    font-family: $rubik;
    @include font-styling($pale-Blue, 1.125rem, 300);

    padding: 0 1rem;
}

@media screen and (min-width: 375px) {
    body {
        padding: 0 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    body {
        padding: 0 2.25rem;

        .content {
            display: flex;
            flex-direction: column;
            gap: 1.875rem;
            width: 100%;
        }
    }
}

@media screen and (min-width: 992px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 80%;
        min-height: 100vh;
        padding: 0;
    }
}

@media screen and (min-width: 1200px) {
    body {
        .content {
            display: grid;
            grid-template-columns: 1fr 3fr;
        }
    }
}